* {
  margin: 0;
  padding: 0;
}


a {
  color: #09f801;
  text-decoration: none;
  transition: transform 0.3;
}
a:hover {
  opacity: 0.5;
  color: #09f801;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #161616;
  height: 10vh;
}
nav .nav-list {
  display: flex;
  list-style: none;
  transition: transform 0.3s ease-in;
}
nav .nav-list li {
  letter-spacing: 3px;
  margin-left: 30px;
}
nav .nav-list .logo {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mobile-menu {
  cursor: pointer;
  transition: transform 0.5s;
  display: none;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
.mobile-menu:hover {
  transform: scale(1.2);
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: #161616;
    width: 50vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list .logo {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list.active {
    transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
main {
  background:  url("/static/images/bg.jpg") no-repeat center center fixed;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cam {
  display: flex;
  width: 80%;
  background-color: white;
  height: 80%;
  min-height: 60%;
  border: 2px solid black;
  overflow: hidden;
}

#video-stream {
  width: 100%;
  height: auto;
}