<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESP32 Cam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
  
  <div class="container">

    <header>
      <nav>
        <a class="logo" href="/">Esp32 cam</a>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
        </ul>
      </nav>
    </header>

    <main>

      <div class="cam">
        <img id="video-stream" src="" alt="Fluxo de video ao vivo">
      </div>

      <div class="actions">
        <button id="ligar-cam" onclick="startTracking()">ligar cam</button>
        <button id="desligar-cam" onclick="stopTracking()">desligar cam</button>
        <button id="capturar-frame" onclick="capturePhoto()">capturar frame</button>
        <button id="iniciar-gravacao" onclick="startRecording()"> gravacao</button>
        <button id="desligar-gravacao" onclick="stopRecording()">desligar gravacao</button>
      </div>
      <div class="lab">
        <a id="Infos-cam">Informações</a>
      </div>

    </main>
</div>
<script src="{{ url_for('static', filename='js/mobile-navbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/buttons.js')}}"></script>
</body>
</html>
