<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESP32 Cam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
  
  <div class="container">

    <header>
      <nav>
        <a class="logo" href="/">Esp32 cam</a>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
        </ul>
      </nav>
    </header>

    <main>

      <div class="cam">
        <img src="{{ url_for('iniciar_cam')}}"
      </div>

    </main>
</div>
<script src="{{ url_for('static', filename='js/mobile-navbar.js')}}"></script>
</body>
</html>
